.idea
.venv
venv

__pycache__/
*.pyc


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


*.log

# Flask / Django instances
instance/
.webassets-cache/
local_settings.py


docs/_build/

.pybuilder/
target/


.env
.env.*
.venv/
venv/
env/
ENV/

.vscode/
.idea/
*.iml


*.sqlite3
*.db

*.pid



```# **После этого можно запустить приложение локально:**
```bash
$env:DATABASE_URL = "postgresql+psycopg://postgres:postgres@localhost:5434/crypto_db"
python -m uvicorn app.main:app --reload```
